.contenedor-formulario{
    max-width: 400px;
    -webkit-box-shadow: 0px 21px 53px -14px rgba(0,0,0,0.34);
-moz-box-shadow: 0px 21px 53px -14px rgba(0,0,0,0.34);
box-shadow: 0px 21px 53px -14px rgba(0,0,0,0.34);
margin: auto;
padding: 30px;
border-radius: $borde-boton;
}