
$color-rojo:#F54F47;
$color-gris:#3D434B;
$color-gris-oscuro:#1e2126;
$color-amarillo:#FFBC26;
$color-blanco:#fff;
$color-negro:#000;
$borde-boton:20px;
$texto-nodecorado:none;
$alturatexto:(
        altura-h2:60px, texto-separador:22px,
);
$elemento-centrado:center;