@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;800;400&family=Poppins&display=swap");
.boton {
  background-color: #F54F47;
  color: #fff;
  border-radius: 20px;
  padding: 8px 30px;
  text-decoration: none;
}

.color-cabezote {
  background-color: #fff;
  position: fixed;
  z-index: 10;
  padding: 10px 0;
}
.color-cabezote .mobile {
  display: none;
}
.color-cabezote .desktop {
  display: block;
}
.color-cabezote .desktop .nav .nav-item .nav-link {
  color: #3D434B;
}
.color-cabezote .desktop .nav .nav-item .nav-link .boton {
  background-color: #F54F47;
  color: #fff;
  border-radius: 20px;
  padding: 8px 30px;
  text-decoration: none;
}

@media only screen and (max-width: 991px) {
  .color-cabezote .mobile {
    display: block;
  }
  .color-cabezote .desktop {
    display: none;
  }
}
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

footer svg {
  color: #fff;
  width: 40px;
  height: 40px;
}

.color-footer1 {
  background-color: #3D434B;
  padding: 20px 0;
}

.color-footer2 {
  background-color: #000;
  padding: 20px 0;
}

.color-footer2 p {
  color: #fff;
  font-size: 1em;
  margin: 0;
  padding: 0;
}

.opening {
  background-image: url("../assets/fondodelopening.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  background-position: center;
}

.carousel-item.active {
  display: flex;
  align-items: center;
}

.contenedor-de-carrusel {
  padding: 0px;
}

.contenedor-de-carrusel h2 {
  font-size: 60px;
  font-weight: 800;
  color: #fff;
}

.primer-item {
  height: 100vh;
  background-color: #3D434B;
  background-image: url("../assets/fondo-quienes-somos.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.primer-item h2 {
  vertical-align: middle;
}

.segundo-item {
  height: 100vh;
  background-color: #FFBC26;
  background-image: url("../assets/fondo-quienes-somos.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.tercer-item {
  height: 100vh;
  background-color: #F54F47;
  background-image: url("../assets/fondo-quienes-somos.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.seccion-clientes {
  background-color: #F54F47;
  padding: 100px 0 300px 0;
}

.seccion-clientes h2 {
  font-size: 60px;
  font-weight: 800;
  color: #fff;
  margin: 80px 0 0 70px;
}

.seccion-clientes h2 span {
  font-size: 40px;
  font-weight: 800;
}

.seccion-clientes img {
  max-width: 100%;
  margin: 10px 0;
}

.ancho-de-marcas {
  max-width: 870px;
  margin-top: 90px;
}

.separador {
  max-width: 1200px;
  margin: auto auto 3rem auto;
}

.separador > p {
  color: #fff;
  display: inline-block;
  font-size: 22px;
  position: absolute;
  margin: 0 0 0 10px;
}

.separador-productosyservicios > p {
  color: #3D434B;
  display: inline-block;
  font-size: 22px;
  position: absolute;
  margin: 0 0 0 10px;
}

.separador img {
  margin: 0;
}

.computador {
  position: relative;
  margin-top: -220px;
}

.productosyservicios {
  margin: 50px 0;
}

.productosyservicios h2, .productosyservicios-seccion h2 {
  font-size: 40px;
  font-weight: 800;
  color: #3D434B;
}

.productosyservicios h2 span, .productosyservicios-seccion h2 span {
  font-size: 60px;
  font-weight: 800;
  color: #F54F47;
}

.contenedor-zorro img {
  width: 100%;
}

.contenedor-formulario {
  max-width: 400px;
  box-shadow: 0px 21px 53px -14px rgba(0, 0, 0, 0.34);
  margin: auto;
  padding: 30px;
  border-radius: 20px;
}

.titulodelapagina {
  display: flex;
  text-align: center;
  background-color: #3D434B;
}

.titulodelapagina .ancho {
  max-width: 600px;
  margin: 110px auto 30px;
}

.titulodelapagina h1 {
  font-size: 60px;
  font-weight: 800;
  color: #fff;
  line-height: 45px;
}

.titulodelapagina h1 span {
  font-size: 40px;
  font-weight: 800;
  color: #F54F47;
}

.titulodelapagina p {
  color: #fff;
  text-align: center;
}

.titulodelapagina img {
  width: 30px;
  display: block;
  margin: auto;
}

.productosyservicios-seccion {
  margin: 0;
}

.productosyservicios-seccion .flecha {
  width: 30px;
  display: block;
  margin: auto;
}

.contenedordeproductos {
  background-color: #1e2126;
}

.contenedordeproductos h3 {
  color: #FFBC26;
  font-weight: 800;
}

.contenedordeproductos p {
  color: #fff;
}

.contenedordeproductos a {
  color: #fff;
  text-decoration: none;
  border-radius: 20px;
  padding: 10px 30px;
  border: solid 1px #fff;
  text-align: right;
}

.contenedordeproductos img {
  width: 100%;
  margin: 85px 0 30px;
}/*# sourceMappingURL=estilos.css.map */